{% extends "delivery_header.html" %}
{% load static %} 
{% block  content%}


<section class="form-container" style="height: 75rem;">

   <form action="{% url 'delivery_profile_update' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Change Password</h3><br>
      <p>Current Password</p>
      <input type="text" name="old_password" placeholder=" Enter Your Name" maxlength="50" class="box">
      <p>New Password</p>
      <input type="text" name="new_password" placeholder="Enter your Contact Number" class="box">
      <p>Confirm New Password</p>
      <input type="text" name="cnew_password" placeholder="Enter your Contact Number" class="box">
      <input type="submit" value="Change Password" name="submit" class="btn">
      <a href="{% url 'delivery_index' %}" style="text-align: center;"><p>Back to Home</p></a>
   </form>

</section>


{% endblock %}